@model MinneapolisMachines.App.Models.Accounts.AccountViewModel

@{
    ViewBag.Title = "Register";
}

<h2>Register</h2>

@Html.ValidationSummary()

@using (Html.BeginForm())
{
    @Html.LabelFor(avm => avm.User.UserId)
    <br />
    @Html.TextBoxFor(avm => avm.User.UserId)
    <br />

    @Html.LabelFor(avm => avm.Role.RoleId)
    <br />
    @Html.TextBoxFor(avm => avm.Role.RoleId)
    <br />

    @Html.LabelFor(avm => avm.User.FirstName)
    <br />
    @Html.TextBoxFor(avm => avm.User.FirstName)
    <br />

    @Html.LabelFor(avm => avm.User.LastName)
    <br />
    @Html.TextBoxFor(avm => avm.User.LastName)
    <br />

    @Html.LabelFor(avm => avm.User.Email)
    <br />
    @Html.TextBoxFor(avm => avm.User.Email)
    <br />

    @Html.LabelFor(avm => avm.User.Password)
    <br />
    @Html.TextBoxFor(avm => avm.User.Password)
    <br />

    <p>
        <button type="submit">Register</button>
    </p>
}