<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Minneapolis Machines - @ViewBag.Title</title>

    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>

<body>
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        @Html.ActionLink("Minneapolis Machines", "Index", new { Controller = "Home" }, new { @class = "navbar-brand" })

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    @Html.ActionLink("Home", "Index", new { Controller = "Home" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("New Inventory", "New", new { Controller = "Inventory" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Used Inventory", "Used", new { Controller = "Inventory" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Specials", "Specials", new { Controller = "Home" }, new { @class = "nav-link" })
                </li>
                <li class="nav-item">
                    @Html.ActionLink("Contact", "Contact", new { Controller = "Home" }, new { @class = "nav-link" })
                </li>

                @using Microsoft.AspNet.Identity
                @if (Request.IsAuthenticated)
                {
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Sales
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Index", "Index", new { Controller = "Sales" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Purchase", "Purchase", new { Controller = "Sales" }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Reports
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Index", "Index", new { Controller = "Reports" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Inventory", "Inventory", new { Controller = "Reports" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Sales", "Sales", new { Controller = "Reports" }, new { @class = "dropdown-item" })
                        </div>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Admin
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            @Html.ActionLink("Index", "Vehicles", new { Controller = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Add Vehicle", "AddVehicle", new { Controller = "Admin" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Users", "Users", new { Controller = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Add User", "AddUser", new { Controller = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Change Password", "ChangePassword", new { Controller = "Account" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Makes", "Makes", new { Controller = "Admin" }, new { @class = "dropdown-item" })
                            @Html.ActionLink("Models", "Models", new { Controller = "Admin" }, new { @class = "dropdown-item" })
                            <div class="dropdown-divider"></div>
                            @Html.ActionLink("Specials", "Specials", new { Controller = "Admin" }, new { @class = "dropdown-item" })
                        </div>
                    </li>
                }
            </ul>
        </div>
    </nav>

    <div class="container main-container">
        @RenderBody()
        <hr />
    </div>

    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</body>
</html>