@model MinneapolisMachines.App.Models.Admin.SpecialViewModel

@{
    ViewBag.Title = "Specials";
}

<h3>Specials</h3>
<hr />

<div class="row">
    <div class="col-md-12">
        @Html.ValidationSummary()

        @using (Html.BeginForm())
        {
            <div class="form-row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Special.Title)
                    @Html.TextBoxFor(m => m.Special.Title, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-md-12">
                    @Html.LabelFor(m => m.Special.Description)
                    @Html.TextBoxFor(m => m.Special.Description, new { @class = "form-control" })
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Save</button>
        }
    </div>
</div>

<hr />

@foreach (var special in Model.Specials)
{
    <div class="row">
        <div class="col-md-12">
            <div class="border border-dark">
                <h5>@special.Title</h5>
                <p>@special.Description</p>
                <p>@Html.ActionLink("Delete", "DeleteSpecial", "Admin", new { specialId = special.SpecialId }, null)</p>
            </div>
        </div>
    </div>

    <br />
}