@model MinneapolisMachines.App.Models.Home.HomeViewModel

@{
    ViewBag.Title = "Index";
}

<!-- jumbotron/carousel -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        @for (var i = 0; i < @Model.Specials.Count; i++)
        {
            if (i == 0)
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            }
            else
            {
                <li data-target="#carouselExampleIndicators" data-slide-to="@i"></li>
            }
        }
    </ol>
    <div class="carousel-inner">
        @for (var i = 0; i < Model.Specials.Count; i++)
        {
            if (i == 0) //first item needs to have active class for the carousel to display
            {
                <div class="carousel-item active">
                    <div class="carousel-item-content d-block w-100">
                        <div class="carousel-item-text">
                            <h3>@Model.Specials.ElementAt(i).Title</h3>
                            <p>@Model.Specials.ElementAt(i).Description</p>
                        </div>
                    </div>
                </div>
            }
            else
            {
                <div class="carousel-item">
                    <div class="carousel-item-content d-block w-100">
                        <div class="carousel-item-text">
                            <h3>@Model.Specials.ElementAt(i).Title</h3>
                            <p>@Model.Specials.ElementAt(i).Description</p>
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<br />

<h3>Featured Vehicles</h3>
<hr />

<div class="row">
    @foreach (var v in Model.FeaturedVehicles)
    {
        <div class="col-md-3">
            <div class="border border-dark text-center">
                <img src="@v.ImageUrl" class="img-thumbnail" />
                <h5>@v.ReleaseYear @Model.Makes.FirstOrDefault(make => make.Id == @Model.Models.FirstOrDefault(model => model.Id == @v.ModelId).MakeId).Name @Model.Models.FirstOrDefault(model => model.Id == @v.ModelId).Name</h5>
                <p>$@v.SalesPrice</p>
            </div>
        </div>
    }
</div>
